<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
	<link type="text/css" rel="stylesheet" href="$css_folder/custom_cti.css?t=${build_time}"></link>
	<link type="text/css" rel="stylesheet" href="$css_folder/primary.css?t=${build_time}"></link>
	<link type="text/css" rel="stylesheet" href="$css_folder/style.css?t=${build_time}"></link>
	<link type="text/css" rel="stylesheet" href="$css_folder/jquery/smoothness/jquery-ui-1.10.1.custom.css?t=${build_time}"></link>
	
	<script type="text/javascript" src="$javascript_folder/jquery/jQuery-1.9.1.js?t=${build_time}"></script>
	<script type="text/javascript" src="$javascript_folder/jquery/jquery-ui-1.10.1.custom.js?t=${build_time}"></script>
	<script type="text/javascript" src="$javascript_folder/jquery.cookies.2.2.0.js?t=${build_time}"></script>
	<script type="text/javascript" src="$javascript_folder/jquery.tinyTips.js?t=${build_time}"></script>
	
	
</head>

<body class="$css_class">


$theme.include($body_top_include)

#if ($is_signed_in)     
	#set ($rService = $serviceLocator.findService("com.liferay.portal.service.RoleService"))
    #set ($usrRoles = $rService.getUserRoles( $user_id )) 
    #set ($hasPermission = false)
    #foreach($usrRole in $usrRoles)
	    #if( ( $usrRole.getName() == 'Administrator' ) || ($usrRole.getName() == 'Content-Admin') || ($usrRole.getName() == 'Content-Editor') )
	    	#set ($hasPermission = true)
	    #end 
    #end
#end



#if($hasPermission == true)
  #dockbar()
#end

<div class="container-fluid" id="wrapper">
		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content">

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
	
	<div id="footer">
		Copyright © 2010-2013 The Coaches Training Institute. All rights reserved.
	</div>
</div>

$theme.include($bottom_include)

</body>

</html>